In [29]:
# pip install fbprophet

SyntaxError: invalid syntax (3187385805.py, line 2)

In [30]:
# pip install pystan==2.19.1.1

In [ ]:
import prophet
import pandas as pd

In [ ]:
df=pd.read_csv('./Datos/BeerWineLiquor.csv')

In [ ]:
df.head()

       date  beer
0  1/1/1992  1509
1  2/1/1992  1541
2  3/1/1992  1597
3  4/1/1992  1675
4  5/1/1992  1822

In [ ]:
df.columns=['ds','y']

In [ ]:
df.dtypes

ds    object
y      int64
dtype: object

In [ ]:
df.head()

          ds     y
0 1992-01-01  1509
1 1992-01-02  1541
2 1992-01-03  1597
3 1992-01-04  1675
4 1992-01-05  1822

In [ ]:
df['ds']=pd.to_datetime(df['ds'],format="%d/%m/%Y")

In [ ]:
modelo=prophet.Prophet()

AttributeError: 'Prophet' object has no attribute 'stan_backend'

In [ ]:
modelo.fit(df)

In [ ]:
predicciones=modelo.make_future_dataframe(periods=10,freq='MS')

In [ ]:
predicciones.head()

In [ ]:
pronostico=modelo.predict(predicciones)

NameError: name 'modelo' is not defined